*{
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    padding: 0;
    margin: 0;
    font-family: 'Arial (Hebrew)', Arial;
    color: white;
    text-decoration:none;

}
header{
    background-image:url("/images/header_bg.png") ;
    height: 105px;
    width: 100%;
}
#header{
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}
input{
    border-top-right-radius: 5px;
}
.left-box{
    float: left;
    margin-top: 20px;
}
#logo {
    position: absolute;
    top: 33px;
}

li.top {
    display: inline; 
}   
.sep{
    background: url(/images/menu_sep.png) no-repeat 0 0px;
    display: inline; 
    width: 4px;
    height: 21px;
    margin: 0 16px;
    position: relative;
}
#horizontal-list{
    position: relative;
    margin:0 140px 0 0;
    font: 15px;
    font-weight: bold;
    list-style: none;
    top: 70px; 
}
.dropdwn{
    display: none;
    list-style: none;
    position: absolute;
    background-color: gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
}
.top:hover .dropdwn{
    display: block;
    text-decoration: underline;
}

main{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.first-row{
    margin-top: 32px;   
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    position: relative;
}
img.r{
    border-bottom-right-radius: 20px ;
}
.first-text,.second-text,.third-text{
    position: absolute;
    width: 250px;
    height: 95px;
    background-color: grey;
    opacity: 0.9;
    z-index: 100;
    font-size: 13px;
    bottom: 10px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    margin-right: 7px;
}
.second-row{
    margin-top: 20px;   
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    position: relative;
    padding-bottom: 38px;
}
.forth-text{
    position: absolute;
    color:black;
    margin-top: 10px;
    margin-right: 10px;
}
.forth-img{
    position: absolute;
    top: 50px;
    margin-right: 20px;
}
.isr{
    position: absolute;
    top: 40px;
    margin-right: 200px;
}
footer{
    position: fixed;
    bottom: 0;
    background-image:url("/images/footer_bg.png");
    height: 37px;
    width: 100%;
    z-index: 300;
    font-size: 14px;
    margin-top: 25px;
}
ul.footer li{
    display: inline;
    text-decoration:none;
}
ul.footer{
    width: 900px;
    margin:0 auto;
}
li:hover{
    text-decoration-line:underline;
    color: #005CA0;
    cursor: pointer;
}

